QLabel{
    background:none;
}
QWidget#CloudSettingsTab{
    background:#ffffff;
}
QFrame#userCard{
    background:#f3f3f3;
    border-radius: 10px;
    border: 1px solid #eaeaea;
}
QFrame#classCard{
    background:#f3f3f3;
    border-radius: 10px;
    border: 1px solid #eaeaea;
}
